@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lemon;
  src: url('../assets/Lemon.otf');
}

@font-face {
  font-family: Tommy;
  src: url('../assets/Tommy.otf');
}

@font-face {
  font-family: Diam;
  src: url('../assets/Diam.ttf');
}

@font-face {
  font-family: Comfortaa;
  src: url('../assets/Comfortaa.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}


html, body{
    background: #000;
}